<% flash.each do |message_type, message| %>
　	<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<body>
	<h1>Books</h1>
	<table>
	 	<thead>
			<tr>
				<th>Title</th>
				<th>body</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		 </thead>
		 <tbody>
			<tr>
				<% @bookers.each do |booker| %>
					<th><%= booker.title %></th>
					<th><%= booker.body %></th>
					<th> <%= link_to 'Show',booker_path(booker.id) %></th>
					<th><%= link_to 'Edit', edit_booker_path(booker.id) %></th>
					<th><%= link_to "Destroy", booker_path(booker.id), method: :delete, "data-confirm" => "Are you sure?" %></th>
				
			</tr>
			<% end %>
		 </tbody>
	</table>

	<h2>New book</h2>
	<%= form_for(@booker, url:"/bookers") do |f| %>
		<div class="field">
			<label for = "book_title">Title</label>
			<%= f.text_field :title, id: "book_title" %>
		</div>
		<div class="field">
			<label for = "book_body">Body</label>
			<%= f.text_field :body, id: "book_body" %>
		</div>
			<%= f.submit 'Create Book' %> 
	<% end %>

</body>
